<a href="https://colab.research.google.com/github/VivekYadav105/OOPS-cs207/blob/branch-1/Practice%20assignment/Practice_assignment_opperators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# operators

## Arithmetic Operators

In [ ]:
a=30;b=40
print("a+b:",a+b)
print("a*b",a*b)
print("a-b",a-b)
print("a/b",a/b)
print("a//b",a//b)
print("a**b",a**b)
print("a%b",a%b)

a+b: 70
a*b 1200
a-b -10
a/b 0.75
a//b 0
a**b 121576654590569288010000000000000000000000000000000000000000
a%b 30

## Relational or comparison operators

In [ ]:
a,b,c=5,7,8
print("a==b",a==b)
print("a==c",a==c)
print("a>b",a>b)
print("a<b",a<b)
print("a!=b",a!=b)
print("a!=c",a!=c)
print("a>=c",a>=c)
print("a<=c",a<=b)

a==b False
a==c False
a>b False
a<b True
a!=b True
a!=c True
a>=c False
a<=c True

## Assignment opperations

In [ ]:
a=10
print("a:",a)

a+=1
print("a+=",a)
a=10
a=a+1
print("a=a+1",a)

a=10
a+=4
print("a+=4:",a)
a=10
a=a+4
print("a=a+4:",a,"\n")

b=25
print("b:",b)
b-=1
print("b-=:",b)
b=25
b=b-1
print("b=b-1",b)
b-=5
print("b-=5",b,"\n")

c=36
print("c:",c)
c*=1
print("c*=",c)
c=36
c=c*1
print("c=c*1",c)
c*=4
print("c*=4",c,"\n")

d=44
print("d:",d)
d/=2
print("d/=2",d)
d=44
d=d/2
print("d=d/2",d)

e=50
print("e:",e)
e%=3
print("e%3:",e)
e=50
e=e%3
print("e=e%3:",e,"\n")

f=78
print("f:",f)
f//=5
print("f//5:",f)
f=78
f=f//5
print("f=f//5\n",f,"\n")

g=13
print("g:",g)
g**=2
print("g**=2",g)
g=13
g=g**2
print("g=g*2",g)

a: 10
a+= 11
a=a+1 11
a+=4: 14
a=a+4: 14

b: 25
b-=: 24
b=b-1 24
b-=5 19

c: 36
c*= 36
c=c*1 36
c*=4 144

d: 44
d/=2 22.0
d=d/2 22.0
e: 50
e%3: 2
e=e%3: 2

f: 78
f//5: 15
f=f//5
 15

g: 13
g**=2 169
g=g*2 169

## Logical Opperators

In [ ]:
a=1
b=0
c=0
d=1
print("a and b:",a and b)
print("a and c:",a and c)
print("a and d:",a and d,"\n")
print("a or b",a or b)
print("b or c",b or c,"\n")
print("not a:",not a)
print("not b",not b)

a and b: 0
a and c: 0
a and d: 1

a or b 1
b or c 0

not a: False
not b True

## membership operators

In [ ]:
a="hello world"
print('l' in a)
print("llo" in a)
print("k" in a)
print("h" not in a)
print("hel" not in a)
print("k" not in a)

True
True
False
False
False
True

## identity operators

In [ ]:
a=30
b=30
c=10
print("a is b",a is b)
print(" a is not b",a is not b)
print("a is c",a is c)
print("a is not c",a is not c)

a is b True
 a is not b False
a is c False
a is not c True

## bitwise operators

In [ ]:
a=30
b=44
print("a:  ",format(a,'b'),",",a," b:",format(b,'b'),",",b)
print("a&b:",format(a&b,'b'),",",a&b)
print("a|b ",format(a|b,'b'),",",a|b)
print("a^b ",format(a^b,'b'),",",a^b)
print("~a  ",format(~a,'b'),",",~a)
print("~b  ",format(~b,'b'),",",~b)
print("a>>2",format(a>>2,'b'),",",a>>2)
print("a<<2",format(a<<2,'b'),",",a<<2)
print("b>>2",format(b>>2,'b'),",",a>>2)
print("b<<2",format(b<<2,'b'),",",a<<2)

a:   11110 , 30  b: 101100 , 44
a&b: 1100 , 12
a|b  111110 , 62
a^b  110010 , 50
~a   -11111 , -31
~b   -101101 , -45
a>>2 111 , 7
a<<2 1111000 , 120
b>>2 1011 , 7
b<<2 10110000 , 120

# operators priority

In [ ]:
print(4**2*4/3+4-2%4)  # follows bodmas rule

23.333333333333332